.canvas-container {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}

#canvas {
  border: 1px solid black;
}

.healthbar-container {
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

#healthbar {
  background-color: red;
  width: 900px;
  height: 20px;
  margin-top: 5px;
  border: 2px solid black;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#start-button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
